<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Request form</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    /> -->
  </head>
  <body>
    <h1>Update Your Blood Details</h1>
    <div class="container">
      <div class="form-outer">
        <button class="btn"><a href="/AddBlood">Add New Blood Type</a></button>

        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Blood Type</th>
              <th>Amount</th>
              <th>Days Valid</th>
              <th>Button appears here</th>
              <th>Button appears here</th>
            </tr>
          </thead>
          <tbody>
            {% for b in all_blood %}
            <tr>
              <td>{{b.blood_type}}</td>
              <td>{{b.amount}}</td>
              <td>{{b.valid_till}}</td>

              <td>
                <button class="btn btn-req">
                  <a href="/update-bld/{{b.id}}">UPDATE</a>
                </button>
              </td>
              <td>
                <button class="btn btn-req">
                  <a href="/delete-bld/{{b.id}}">DELETE</a>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
